.Sidebar,
.SidebarMenu {
  background-color: #202225;
}

.SidebarLogoutButton {
  position: absolute !important;
  bottom: 0 !important;
}

.MenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto !important;
}
