html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 3em;
  height: 3em;
  border: 0.2em solid #ffffff;
  border-left: 0.2em solid #1890ff;
  border-radius: 50%;
  animation: animate 1s infinite linear;
}

@keyframes animate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}
